{% extends 'users/main.html' %}
{% block content %}

    <div class="w-full max-w-md p-6 bg-gray-800 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Login</h2>
        <form class="space-y-3" id="categories-list"
              action="{{ url_for('users:login') }}" method="POST"
        >
            <label class="flex flex-col gap-2">
                <span class="text-white">Username</span>
                <input type="text" name="username"
                       class="border border-neutral-200 rounded-lg p-2 text-gray-700">
            </label>
            <label class="flex flex-col gap-2">
                <span class="text-white">Password</span>
                <input type="password" name="password"
                       class="border border-neutral-200 rounded-lg p-2 text-gray-700">
            </label>
            <button class="mt-4 w-full bg-red-600 hover:bg-red-700 text-white py-2 rounded-lg"
            >Login
            </button>
        </form>
    </div>

{% endblock %}